<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>悦听player</title>
  <!-- 样式 -->
  <link rel="stylesheet" href="./css/index.css">
  /*
  1:歌曲搜索接口
    请求地址:https://autumnfish.cn/search
    请求方法:get
    请求参数:keywords(查询关键字)
    响应内容:歌曲搜索结果

  2:歌曲url获取接口
    请求地址:https://autumnfish.cn/song/url
    请求方法:get
    请求参数:id(歌曲id)
    响应内容:歌曲url地址
  3.歌曲详情获取
    请求地址:https://autumnfish.cn/song/detail
    请求方法:get
    请求参数:ids(歌曲id)
    响应内容:歌曲详情(包括封面信息)
  4.热门评论获取
    请求地址:https://autumnfish.cn/comment/hot?type=0
    请求方法:get
    请求参数:id(歌曲id,地址中的type固定为0)
    响应内容:歌曲的热门评论
  5.mv地址获取
    请求地址:https://autumnfish.cn/mv/url
    请求方法:get
    请求参数:id(mvid,为0表示没有mv)
    响应内容:mv的地址
*/
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script >
    window.onload = function(){
      var wrap = new Vue({
        el:".wrap",
        data:{
          search: "",
          songs:[],
          url:"",
          pic:"",
          commentWall:[],
          mvid:"",
          isShow: false
        },
        methods:{
          // 输入搜索歌曲
          searchSong:function(){
            var that = this;
            axios.get('https://autumnfish.cn/search?keywords='+this.search)
            .then(function(response){
              console.log(response);
              that.songs = response.data.result.songs;
              that.id = response.data.result.songs.id;
            })
            },
            // 根据歌曲id抽取地址
          songsURL: function(d){
              console.log(d);
              var that = this;
              axios.get('https://autumnfish.cn/song/url?id='+d)
              .then(function(response){
                console.log(response);
                that.url = response.data.data[0].url;
                console.log(that.url);
                that.songsOfPic(d);
                that.comment(d);
              })
            },
            
           songsOfPic:function(d){
             var that = this;
             axios.get('https://autumnfish.cn/song/detail?ids='+d)
             .then(function(response){
                console.log(response);
                that.pic = response.data.songs[0].al.picUrl;
                console.log(that.pic);
             })
           } ,

           comment:function(d){
              var that = this;
              axios.get('https://autumnfish.cn/comment/hot?type=0&id='+d)
              .then(function(response){
                  console.log(response);
                  that.commentWall = response.data.hotComments;
                  console.log(that.commentWall);
              })
           },
           
           playVideo:function(mvid){
              var that = this;
              axios.get("https://autumnfish.cn/mv/url?id="+mvid)
              .then(function(response){
                  console.log(response);
                  that.mvid = response.data.data.url;
                  console.log(that.mvid);
                  that.isShow = !that.isShow;
              })
           },
        }

      });
    }
  </script>
</head>

<body>
  <div class="wrap">
    <!-- 播放器主体区域 -->
    <div class="play_wrap" id="player">
      <div class="search_bar">
        <img src="images/player_title.png" alt="" />
        <!-- 搜索歌曲 -->
        <input type="text" autocomplete="off"  @keyup.enter="searchSong" v-model="search"/>
      </div>
      <div class="center_con">
        <!-- 搜索歌曲列表 -->
        <div class='song_wrapper'>
          <ul class="song_list">
            <li v-for="(item,index) in songs" >
              <a href="javascript:;" @click="songsURL(item.id)"></a> 
              <b > {{ item.name }} </b> 
              <span><i v-show="item.mvid != 0" @click="playVideo(item.mvid)"></i></span>
            </li>
          </ul>
          <img src="images/line.png" class="switch_btn" alt="">
        </div>
        <!-- 歌曲信息容器 -->
        <div class="player_con" >
          <img src="images/player_bar.png" class="play_bar" />
          <!-- 黑胶碟片 -->
          <img src="images/disc.png" class="disc autoRotate" />
          <img :src="pic" class="cover autoRotate" />
        </div>
        <!-- 评论容器 -->
        <div class="comment_wrapper">
          <h5 class='title'>热门留言</h5>
          <div class='comment_list'>
            <dl  v-for="(item,index) in commentWall">
              <dt><img :src="item.user.avatarUrl" alt=""></dt>
              <dd class="name" > {{ item.user.nickname }} </dd>
              <dd class="detail">
                {{ item.content }}
              </dd>
            </dl>
          </div>
          <img src="images/line.png" class="right_line">
        </div>
      </div>
      <div class="audio_con">
        <audio ref='audio' :src="url" controls autoplay="autoplay" loop class="myaudio"></audio>
      </div>
      <div class="video_con"  style="display: none;" v-show="isShow">
        <video :src="mvid" controls="controls" autoplay="autoplay" ></video>
        <div class="mask" @click="function(){isShow = false;mvid=''}"></div>
      </div>
    </div>
  </div>
</body>

</html>